__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
env/

artifacts/*
!artifacts/.gitkeep
!artifacts/*.dvc

mlruns/*
!mlruns/.gitkeep

mlflow.db
mlflow.db-shm
mlflow.db-wal

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
.dvc/cache/
.dvc/tmp/
.tools/

.DS_Store
Thumbs.db
